@charset "UTF-8";

/* Paleta de cores:
   Verde: #490a09d
   Lilas: #5f2c82
 */
 *{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
 }
 html, body{
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
 }
 main{
    height: 100vh;
    width: 100vw;
    position: relative;
 }
 section#login{
    background-color: white;
    height: 550px;
    width: 250px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    /* A propriedade overflow controla o que acontece com o conteúdo de um elemento quando ele transborda o tamanho definido para esse elemento (por exemplo, quando o conteúdo é maior que a altura ou largura do contêiner). */
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.500);
    /* A propriedade transition é usada para definir a transição suave entre dois estados de um elemento ao longo de um tempo especificado. Ela permite que você especifique quais propriedades devem sofrer a transição, quanto tempo ela deve durar, e como a transição deve ser feita. */
    transition: height 0.3s, width 0.3s;
    /* A propriedade transition-timing-function define a velocidade da transição entre os estados de um elemento ao longo de um tempo especificado. Ela controla como a transição ocorre determinando se ela deve começar devagar, acelerar, desacelerar, ou seguir uma curva de velocidade personalizada. */
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
 }
 section#login > div#imagem{
    background: #5f2c82 url(../imagens/pexels-bruthethe.jpg) no-repeat;
    background-size: cover;
    height: 250px;
    background-position: center;
    display: block;
 }
 section#login > div#formulario{
    padding: 10px;
    display: block;
 }
 div#formulario > h1{
   text-align: center;
   margin-bottom: 10px;
 }
div#formulario > p{
   font-size: 0.8em;
}
form > div.campo{
   background-color: #5f2c82;
   display: block;
   height: 40px;
   width: 100%;
   border-radius: 8px;
   margin: 5px 0px;
   border: 2px solid #5f2c82;
}
div.campo > label{
   display: none;
}
div.campo > span{
   color: white;
   /* background-color: black; */
   font-size: 2em;
   width: 40px;
   padding: 5px;
}
div.campo > input{
   background-color: #97adb8;
   font-size: 1em;
   height: 100%;
   border: 0px;
   border-radius: 8px;
   padding: 4px;
   /* O calc() é uma função que permite fazer cálculos aritméticos diretamente dentro de uma regra de estilo. Isso é útil quando você precisa definir um valor que depende de vários fatores como porcentagens, valores fixos em pixels. */
   width: calc(100% - 45px);
   /* A propriedade transform é usada para aplicar transformações a um elemento como mover, rotacionar, escalar ou distorcer. */
   transform: translateY(-12px);
}
div.campo > input:focus-within{
   background-color: white;

} 
/* especificando o tipo de input  do qual a estilização sera aplicada */
form > input[type=submit]{
   display: block;
   font-size: 1em;
   height: 40px;
   width: 100%;
   background-color: #8ba9b7;
   color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;
}
form > input[type=submit]:hover{
   background-color: #3f4c52;
}
form > a.botao{
   display: block;
   text-align: center;
   font-size: 1em;
   height: 40px;
   width: 100%;
   padding-top: 5px;
   margin-top: 5px;
   background-color: white;
   color: #3f4c52;
   border: 1px solid #8ba9b7;
   border-radius: 5px;
   text-decoration: none;
}
form > a.botao:hover{
   background-color: #b0d6e7;
}
form > a.botao > span{
   font-size: 0.8em;
}